<article>
    <h1>Search Result</h1>
    <button mat-raised-button color="accent" type="button" (click)="onBack()">Back</button>

    <mat-card *ngFor="let m of movies" class="card">

        <mat-card-header>
            <img mat-card-avatar class="example-header-image" *ngIf="m.image!=null" [src]="m.image" [alt]="m.title">
            <mat-card-title>{{m.title}}</mat-card-title>
            <mat-card-subtitle>{{m.rating}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image *ngIf="m.image!=null; else
            elseBlock" [src]="m.image" [alt]="m.title">
        <ng-template #elseBlock>
            <img mat-card-image [src]="noImg">
        </ng-template>

        <mat-card-content>
            <mat-card-title>{{m.headline}}</mat-card-title>
            <mat-card-subtitle>{{m.summary}}</mat-card-subtitle>
            <mat-card-subtitle>Comments: {{m.commentCount}}</mat-card-subtitle>

            <mat-card-actions>
                <button mat-raised-button color="primary">Comment</button>
            </mat-card-actions>
        </mat-card-content>

    </mat-card>
      
</article>